.menu-icon {
  font-size: 1.8rem;
}

.logo-text {
  display: flex;
  align-items: center; /* Align items vertically centered */
}

.logo {
  width: 70px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between image and text */
}
